{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Django</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Web Django</a>
    </div>
    <ul class="nav navbar-nav">
        {% if not request.user.is_authenticated %}
            <li class="active"><a href="#">Contact Us</a></li>
        {% else %}
            <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
            <li class="active"><a href="{% url 'create-post' %}">Create Post</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'user-register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'user-login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
            <li><a href="{% url 'user-posts' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="{% url 'user-logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        {% endif %}


    </ul>
  </div>
</nav>
<body>

<div class="row">
<div class="col-md-12">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
  {{ message }}
  </div>
  {% endfor %}
  {% endif %}
</div>
</div>

<div class="center-column">

    {% block content %}
    {% endblock %}


</div>
</body>
</html